@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p class="fs-1">

        <span style="color:blue">
            <b>Portal de Operações</b>
        </span>
        <hr />
    </p>
    <p class="fs-4"><b> Utilize o menu superior para escolher a operação desejada</b> </p>
    <p class="fs-5"> <i class="fa-solid fa-upload"></i><span style="color:blue"><b> Upload :</b></span> Permite escolher um arquivo para realizar a importação.</p>
    <p class="fs-5"> <i class="fa-solid fa-store"></i><span style="color:blue"><b> Lojas :</b></span> Exibe as movimentações da loja selecionada.</p>
    <p class="fs-5"> <i class="fa-brands fa-searchengin"></i><span style="color:blue"><b> Geral :</b></span> Exibe todos os registros carregados no database via upload.</p>
    <p class="fs-5"> <i class="fa-regular fa-newspaper"></i><span style="color:blue"><b> Tipos de Transação :</b></span> Exibe as informações sobre os tipos de transação.</p>
    <p class="fs-5"> <i class="fa-solid fa-database"></i><span style="color:blue"><b> Status Database :</b></span> Permite verificar se a infraestrutura de banco de dados está pronta para utilização.</p>
</div>
