@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p class="fs-1">

        <span style="color:blue">
            <b>Portal de Operações</b>
        </span>

    </p>
    <p class="fs-5"> Utilize o menu superior para escolher a operação desejada </p>
</div>
