@{
    ViewData["Title"] = "Upload";
}

<p class="fs-5"><i class="fa-solid fa-upload"></i> <span style="color:blue"><b>Upload :</b></span> Escolha o arquivo e depois clique no botão <b>Enviar</b>.</p>
<form method="post" enctype="multipart/form-data" asp-controller="Upload" asp-action="Enviar">
    <div class="form-group">
        <input class="form-control form-control-sm" type="file" name="arquivos" />
    </div>
    <br>
    <div class="form-group">        
        <input class="btn btn-primary " type="submit" value="Enviar" />
    </div>
</form>
